.section-1{
    height: 725px;
    width: 100%;
    background-image: url("/src/images/2.jpg");
    background-size: cover;
}

.section-1-header{
    font-size:60px;
    line-height:60px;
}

.section-1-content-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    height:100%;
    width:100%;
}

.section-1-inner-content-contaniner{
    width:80%;
}

.feature-icon{
    height:19px;
    width:10px;
}

.section-1-icon{
    height:100px;
    width:100px;
}

.icon-box-row{
    display:flex;
    flex-direction:row;
    width:fit-content;
    height:auto;
}

/* @media only screen and (min-width:320px){
    .section-1-header{
        font-size:30px;
        line-height:30px;
    }

    .section-1-icon{
        height:80px;
        width:80px;
    }
}

@media only screen and (min-width:375px){
    .section-1-header{
        font-size:30px;
        line-height:30px;
    }
} */

@media only screen and (min-width: 420px) and (max-width: 768px) {
    .section-1{
        height: 725px;
        width: 100%;
        background-image: url("/src/images/2.jpg");
        background-size: cover;
        background-position:left;
        background-position-x: 0%;
        background-position-y:bottom;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .section-1{
        background-size: cover;
        background-position-x: 80%;
        background-color: tomato;
    }

    .section-2-card{
        width: 18rem; 
        padding:5px;
        border-radius:8px;
        /* height:1000px; */
        background-color:#fff;
    }
}

/* /* @media only screen and (min-width:768px){

    .section-1{
        background-size: cover;
        background-position-x: 80%;
    }

    .section-1-inner-content-contaniner{
        width:100%;
    }

    .section-1-header{
        font-size:30px;
        line-height:30px;
    }

    .section-1-icon{
        height:80px;
        width:80px;
    }
} */
/*  */
@media only screen and (min-width:1024px){

    .section-1{
        background-size: cover;
        background-position-x: 50%;
    }

    .section-1-inner-content-contaniner{
        width:80%;
    }

    .section-1-header{
        font-size:60px;
        line-height:60px;
    }

    .section-1-icon{
        height:100px;
        width:100px;
    }
}

@media only screen and (min-width:1200px){

    .section-1{
        background-size: cover;
        background-position-x: 0;
    }
}
 
