.vision-mission{
    /* height:100vh; */
    width:100%;
    background-color:#D9DDE8;
    
}


.vision-mission-content-container{
    /* height:100vh; */
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}

.vision-statement-section{
    /* height:60vh; */
    width:100%;
    background-color:#D9DDE8;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.h80
{
    height: 90px;
}

.bg-bg
{
    background-color: #D9DDE8;
}

.bg-people
{
    background-image: url('/src/images/about.png') ;
    /* background-image: url('/src/images/diverse-businesspeople-having-meeting.png'); */
    /* opacity: 0.1; */
}

.w99p9
{
    width:99.99%;
}

@media only screen and (min-width: 320px) and (max-width: 1440px) {
    .bg-people
    {
        background-size: cover;
        background-position:right;
        background-position-x: 80%;
        background-position-y:bottom;
    }
}