.nav-item{
    margin: 0 10px 0 10px;
    font-family: "Galano Grotesque Light", sans-serif;
    color:#000000;
    font-size:18px;
    font-weight: 600;
}

.nav-pos{
    position: absolute!important;
    top:0;
    left:0;
    width:100%!important;
    z-index:50;
    position: fixed!important;
    background-color: #D9DDE8;
    box-shadow: 0px 0px 5px 0px;
}

.logo-2
{
    padding-left: var(--bs-gutter-x, 3rem);
}

@media only screen and (min-width:320px) and (max-width:500px)
{
    .navbar-brand
    {
        width:70%;
    }
    .logo-2
    {
        width:85%;
    }
}

@media only screen and (min-width:320px) and (max-width:991px)
{
    .navbar-nav
    {
        background-color: #D9DDE8;
    }
}

@media only screen and (min-width:768px){
    .nav-item{
        margin: 0 5px 0 5px;  
        font-size:12px;
    }
}

@media only screen and (min-width:1024px){
    .nav-item{
        margin: 0 5px 0 5px;  
        font-size:12px;
    }
}

@media only screen and (min-width:1200px){
    .nav-item{
        margin: 0 10px 0 10px;          
        font-size:16px;
    }
}

@media only screen and (min-width:1400px){
    .nav-item{
        font-size:18px;
    }
}